.logout-btn {
  margin: 0 auto;
  display: block !important;
}

.logo {
  width: 50px;
}
#cartcount {
  font-size: 10px;
  background-color: red;
  color: white;
  padding: 2px 4px;
  vertical-align: top;
  margin-left: -8px;
  border-radius: 50%;
  margin-top: -5px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 9px;
}
.notofications-container {
  padding: 20px;
  max-height: 250px;
  overflow-y: scroll;
  border: 1px solid gray;
  background-color: white;
  width: 400px;
  z-index: 99;
  position: absolute;
  top:50px;
  right:5vw;
  word-wrap: break-word;
}

.notification-read {
  background-color: lightblue;
  padding: 0px 5px;
  display: flex;
  flex:4;
}
.notification-unread {
  background-color: lightcoral;
  padding: 0px 5px;
  display: flex;
  flex:4;
}

.notification-bell {
  position: relative;
}
/* .notification-bell[data-count]:after {

} */

.notification-bell-container--active::after {
  position: absolute;
  right: 0;
  top: 0.75em;
  content: attr(data-count);
  padding: 0.5em;
  border-radius: 10em;
  line-height: 0.9em;
  color: white;
  background-color: red;
  text-align: center;
  min-width: 2em;
  font: bold 0.4em sans-serif;
}
.notification-clearBtn {
  width: 30px;
  height: 20px;
  cursor: pointer;
  flex:1;
}

.notification-clearBtn:hover{
  border-radius: 20%;
  background-color: rgb(137, 53, 60);
  color:white;
  transition: all 0.1s ease-in-out;
}

.navbar{

  position: relative;
}